@import url("./reset.css");
@import url("./utilities.css");

/* ============= NAVIGATION MENU STYLES */
#nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navy);
  align-items: center;
  height: 86px;
  padding: 0 var(--spacing-lg);
  position: relative;
  z-index: 100;
}

#menu {
  display: flex;
  gap: var(--spacing-lg);
  margin-left: auto;
}


#menu a {
  color: var(--white);
  font-size: var(--font-sm);
}

#menu a:hover {
  color: var(--blue);
}

#logo {
  width: 170px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

#toggle {
  display: none;
}
/* ============= STYLE ENDSS */

/* BANNER STYLES */
#home {
  display: flex;
  height: calc(var(--sec-sm) - 110px);
  width: calc(100% - 0);
  /* background: linear-gradient(to top right, navy 70%, white 60%); */
}

#home > * {
  flex: 1;
}

#home > section {
  background-color: var(--navy);
  display: grid;
  place-items: bottom;
  place-content: center;
  height: 100%;
  gap: var(--spacing-sm);
  padding-left: var(--spacing-lg);
  color: var(--white);
}

#home > section h1 {
  font-size: var(--font-lg);
}

#home > section p {
  font-size: var(--font-md);
}

#home > section .row {
  margin-top: var(--spacing-lg);
}

#home > .bg-con {
  height: 100%;
}



#home > .bg-con img {
  height: 100%;
  width: 100%;
}

/* BUTTON STYLES */

button, a.button {
  border: 2px solid transparent;
  outline: unset;
  min-width: 199.68px;
  min-height: 54.72px;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: var(--font-md);
  cursor: pointer;
}

button.primary, a.primary {
  background-color: var(--blue);
  color: var(--white);
}

button.primary:hover, a.primary:hover {
  border-color: var(--white);
}

button.secondary, a.secondary {
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

button.secondary:hover, a.secondary:hover {
  color: var(--white);
  border-color: var(--white);
}

