@import url("./reset.css");
@import url("./utilities.css");

/* ============= NAVIGATION MENU STYLES */
#nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navy);
  align-items: center;
  height: 86px;
  padding: 0 var(--spacing-lg);
  position: relative;
  z-index: 1000;
}

#menu {
  display: flex;
  gap: var(--spacing-lg);
  margin-left: auto;
}


#menu a {
  color: var(--white);
  font-size: var(--font-sm);
}

#menu a:hover {
  color: var(--blue);
}

#logo {
  width: 170px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

#close-menu, #open-menu {
  display: none;
}

@media only screen and (max-width:700px) {
  
  #nav {
    width: 100%;
    padding: 0;
    height: auto;
    padding: var(--spacing-sm);
  }

  #logo {
    position: unset;
    width: calc(170px / 2);
    height:calc(70px / 2);
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--navy);
    flex-direction: column;
    padding: var(--spacing-lg);
    display: none;
  }

  #menu.show {
    display: flex;
  }

  #close-menu, #open-menu {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
  }

  #open-menu {
    margin-left: auto;
  }

  #menu span {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
    border-radius: var(--round-sm);

  }

  #menu span img {
    width: 40px;
    height: 40px;
  }

}

/* BANNER STYLES */
#home {
  display: flex;
  height: calc(var(--sec-sm) - 110px);
  width: calc(100% - 0);
}

#home > * {
  flex: 1;
}

#home > section {
  background-color: var(--navy);
  display: grid;
  place-items: bottom;
  place-content: center;
  height: 100%;
  gap: var(--spacing-sm);
  padding-left: var(--spacing-lg);
  color: var(--white);
}

#home > section h1 {
  font-size: var(--font-lg);
}

#home > section p {
  font-size: var(--font-md);
}

#home > section .row {
  margin-top: var(--spacing-lg);
}

#home > .bg-con {
  height: 100%;
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
}

.hero section {
  position: absolute;
  top: 20%;
  display: grid;
  place-items: center;
  text-align: center;
  gap: var(--spacing-lg);
  color: var(--white);
  width: 70%;
}

.hero section h1 {
  font-size: var(--font-xl);
  text-transform: capitalize;
}

#home > .bg-con img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width:700px) {
  .hero section {
    top: 10%;
  }
  .hero section h1 {
    font-size: var(--font-md);
  }
  .hero section p {
    display: none;
  }
  #home > section {
    padding: var(--spacing-md);
    height: auto !important;
    text-align: center;
    background-image: url("../uploads/images/banner.png");
    background-repeat: no-repeat;
  }

  #home > section .row {
    flex-direction: column;
  }

  #home > .bg-con {
    display: none;
  }


#home > section p {
  font-size: var(--font-sm);
}


}



/* BUTTON STYLES */

button, a.button {
  border: 2px solid transparent;
  outline: unset;
  min-width: 199.68px;
  min-height: 54.72px;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: var(--font-md);
  cursor: pointer;
}

@media only screen and (max-width:700px) {
  button, a.button {
    min-width: calc(199.68px / 1.5);
    min-height: calc(54.72px / 1.5) ;
    font-size: var(--font-sm);
  }
}

button.primary, a.primary {
  background-color: var(--blue);
  color: var(--white);
}

button.primary:hover, a.primary:hover {
  border-color: var(--white);
}

button.secondary, a.secondary {
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

button.secondary:hover, a.secondary:hover {
  color: var(--white);
  border-color: var(--white);
}

button.ternary {
  background-color: var(--orange);
  color: var(--white);
}

button.ternary:hover {
  background-color: transparent;
  border-color: var(--orange);
  color: var(--orange);
}

/* OUR CLIENTS SECTION STYLES */
#about-us {
  display: flex;
  align-items: flex-start;
  color: var(--white);
  background-color: var(--blue);
}

#about-us h1 {
  font-size: var(--font-xl);
}

#about-us p {
  font-size: var(--font-md);
}

#about-us > * {
  flex: 1;
}

#about-us .right::before {
  content: "";
  display: block;
  height: 5px;
  width: 300px;
  background-color: var(--black);
}

#about-us .right {
  display: grid;
  align-content: center;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}

@media only screen and (max-width:700px) {
  #about-us .left {
    display: none;
  }

  #about-us .right {
    color: var(--black);
    background-image: url('../uploads/images/lady.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    filter: blur(.2);
  }
}

/* STYLES END */

/* SERVICES */

#services header {
  padding: 24px;
  text-align: center;
  background-color: #FFFAE4;
  border-bottom: solid var(--black);
}

#services .flexgrid {
  display: flex;
  flex-direction: column;
}

#services .tile {
  display: flex;
}

#services .tile > * {
  flex: 1;
}

#services .tile img {
  width: var(--sec-sm);
}

#services .tile h1 {
  font-size: var(--font-xl);
  margin: var(--spacing-lg);
}
#services  h1 {
  font-size: var(--font-xl);
}

#services .tile p {
  margin: var(--spacing-lg);
  font-size: var(--font-md); 
}

#services .yellow {
  background-color: #FFFAE4;
  color: var(--black);
}
#services .blue {
  background-color: #46ADF8;
}
#services .brown {
  background-color: #624132;
  color: var(--white);
}

@media only screen and (max-width:700px) {
  
  #services .tile {
    flex-direction: column;
  }

  #services header {
    padding: var(--spacing-lg);
  }
  
  #services header p {
    max-width: unset;
    text-align: center;
  }
  #services .cell {
    font-size: var(--font-sm);
  }
}

/* STYLES END */

/* OUR CLIENTS STYLES */

#our-clients {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
}

#our-clients header {
  padding: 24px;
  text-align: center;
}

#our-clients h1 {
  font-size: var(--font-xl);
}

#our-clients p {
  width: 70%;
  font-size: var(--font-md);
  margin: 0 auto;
}

#our-clients .rows {
  padding: var(--spacing-lg);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  justify-content: space-evenly;
}

#our-clients a {
  width: 180px;
  height: calc(180px / 1.5);
  display: grid;
  place-items: center;
  background-color: var(--white);
}

#our-clients a img {
  height: 100px;
}

#our-clients a:hover {
  box-shadow: var(--shadow-md);
}

@media only screen and (max-width:700px) {
  #our-clients {
    flex-direction: column;
  }
  
  #our-clients header p {
    width: unset;
  }

  #our-clients a {
    width: calc(180px / 2);
  }
  
}

/* STYLES END */

/* TRAININGS STYLES */

#trainings {
    background-image: linear-gradient(4deg,#00262b 11.47%,#1f453d 91.97%);
}

#trainings > header {
  padding: var(--spacing-lg);
  color: var(--white);
  text-align: center;
  border-bottom: solid var(--white);
}

#trainings > header h1 {
  margin-top: 20px;
  font-size: var(--font-xl);
}

#trainings .rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

#trainings .rows > * {
  flex: 1;
}

#trainings .rows .tile {
  display: flex;
  background-color: var(--white);
  height: 250px;
}

#trainings .rows .tile  img {
  width: 300px;
  height: 100%;
}

#trainings article {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  align-items: flex-start;
}

#trainings .tile small {
  padding: 2px 6px;
  background-color: var(--lite-green);
  color: var(--black);
  font-size: var(--font-tiny);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}
#trainings .tile h3 {
  margin-bottom: var(--spacing-sm);
}
#trainings .tile p {
  font-size: 12px;
  color: var(--text-gray);
}

#trainings .cta {
  width: 100%;
  min-height: 450px;
  background-color: white;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--spacing-md);
  font-size: var(--font-md);
  background-image: url("../uploads/images/register.webp");
  background-repeat: no-repeat;
  background-position: cover;
  color: var(--white);
}

#trainings .cta h1 {
  font-size: 78px;
  line-height: .75;
}

#trainings .cta  button {
  margin-top: 23px;
}

@media only screen and (max-width:700px) {
  #trainings .sized {
    max-height: unset;
    height: unset;
  }
  #trainings .rows {
    flex-direction: column;
  }

  #trainings .cta {
    padding: var(--spacing-lg);
  }

  
#trainings .cta h1 {
  line-height: inherit;
  font-size: var(--font-lg);
  text-align: center;
}
}

/* STYLES END */

/* CONTACT STYLES */
#contact-us {
  display: flex;
  align-items: center;
  /* background-color: var(--black); */
}

#contact-us > * {
  flex: 1;
}

#contact-us .contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  font-size: var(--font-md);
  color: var(--black);
}

#contact-us .contacts a {
  font-size: var(--font-md);
}

@media only screen and (max-width:700px) {
  #contact-us {
    flex-direction: column;
  }

  #contact-us .map iframe {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}
/* STYLES END */

/* FOOTER STYLES */

#footer {
  background-color: var(--black);
  max-width: 100%;
  overflow: hidden;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  justify-content: space-between;
}

#footer .story img {
  width: 120px;
  border-radius: var(--round-sm);
  margin-bottom: var(--spacing-lg);
}

#footer .story {
  color: var(--white);
}

#footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

#footer .profiles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

#footer .profiles h3 {
  color: var(--white);
  border-bottom: 1px solid var(--border-color);
}


#footer .profiles img {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: var(--round-sm);
}

#footer .profiles a {
  display: flex;
  align-items: center;
}

#footer .copyright {
  padding: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  color: var(--white);
  border-top: 1px solid var(--border-color);
  margin-top: var(--spacing-lg);
}

@media only screen and (max-width:700px) {
  #footer  > .row {
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  #footer .copyright {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    text-align: center;
  }
}
/* styles ends */