@import url("./reset.css");
@import url("./utilities.css");

/* ============= NAVIGATION MENU STYLES */
#nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navy);
  align-items: center;
  height: 86px;
  padding: 0 var(--spacing-lg);
  position: relative;
  z-index: 100;
}

#menu {
  display: flex;
  gap: var(--spacing-lg);
  margin-left: auto;
}


#menu a {
  color: var(--white);
  font-size: var(--font-sm);
}

#menu a:hover {
  color: var(--blue);
}

#logo {
  width: 170px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

#close-menu, #open-menu {
  display: none;
}

@media only screen and (max-width:700px) {
  
  #nav {
    width: 100%;
    padding: 0;
    height: auto;
    /* height: 50px; */
    padding: var(--spacing-sm);
  }

  #logo {
    position: unset;
    width: calc(170px / 2);
    height:calc(70px / 2);
  }

  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--navy);
    flex-direction: column;
    padding: var(--spacing-lg);
  }

  #close-menu, #open-menu {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
  }

  #open-menu {
    margin-left: auto;
  }

  #menu span {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
    border-radius: var(--round-sm);

  }

  #menu span img {
    width: 40px;
    height: 40px;
  }
}

/* ============= STYLE ENDSS */

/* BANNER STYLES */
#home {
  display: flex;
  height: calc(var(--sec-sm) - 110px);
  width: calc(100% - 0);
  /* background: linear-gradient(to top right, navy 70%, white 60%); */
}

#home > * {
  flex: 1;
}

#home > section {
  background-color: var(--navy);
  display: grid;
  place-items: bottom;
  place-content: center;
  height: 100%;
  gap: var(--spacing-sm);
  padding-left: var(--spacing-lg);
  color: var(--white);
}

#home > section h1 {
  font-size: var(--font-lg);
}

#home > section p {
  font-size: var(--font-md);
}

#home > section .row {
  margin-top: var(--spacing-lg);
}

#home > .bg-con {
  height: 100%;
}



#home > .bg-con img {
  height: 100%;
  width: 100%;
}

/* BUTTON STYLES */

button, a.button {
  border: 2px solid transparent;
  outline: unset;
  min-width: 199.68px;
  min-height: 54.72px;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: var(--font-md);
  cursor: pointer;
}

button.primary, a.primary {
  background-color: var(--blue);
  color: var(--white);
}

button.primary:hover, a.primary:hover {
  border-color: var(--white);
}

button.secondary, a.secondary {
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

button.secondary:hover, a.secondary:hover {
  color: var(--white);
  border-color: var(--white);
}

button.ternary {
  background-color: var(--orange);
  color: var(--white);
}

button.ternary:hover {
  background-color: transparent;
  border-color: var(--orange);
  color: var(--orange);
}

/* OUR CLIENTS SECTION STYLES */
#about-us {
  display: flex;
  align-items: flex-start;
  color: var(--white);
}


#about-us .right::before {
  content: "";
  display: block;
  height: 10px;
  width: 300px;
  background-color: black;
  margin-bottom: var(--spacing-lg);
}


#about-us .right {
  background-color: var(--blue);
  display: grid;
  align-content: center;
  align-self: top;
  padding: var(--spacing-lg);
  min-height: 435px;
  gap: var(--spacing-lg);
}


/* STYLES END */

/* SERVICES */


#services header {
  text-align: center;
}

#services header p {
  max-width: var(--sec-sm);
  margin: 0 auto;
  margin-top: var(--spacing-lg);
}

#services .grid {
  margin: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--spacing-lg); /* Adjust spacing between grid items */
}

#services .grid .cell {
  height: calc(var(--sec-sm) / 2);
}

#services .cell {
  position: relative;
  padding: var(--spacing-lg);
  color: var(--white);
  text-align: center;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

#services .cell h3 {
  transition: opacity 0.3s ease-in-out;
}

#services .cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-align: center;
  width: 80%;
}

#services .cell:hover h3 {
  opacity: 0;
}

#services .cell:hover span {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

/* Background images with overlay */
#services .cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

#services .cell:nth-child(1)::before {
  background-image: url('../uploads/images/image1.jpg');
}

#services .cell:nth-child(2)::before {
  background-image: url('../uploads/images/image2.jpg'); 
}

#services .cell:nth-child(3)::before {
  background-image: url('../uploads/images/image3.jpg'); 
}

#services .cell:nth-child(4)::before {
  background-image: url('../uploads/images/image4.jpg');
}

#services .cell::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#services .cell:hover::before {
  transform: scale(1.1);
}

/* STYLES END */

/* OUR CLIENTS STYLES */

#our-clients {
  display: flex;
  align-items: stretch;
}

#our-clients > * {
  flex: 1;
}

#our-clients .left {
  display: grid;
  place-content: center;
  place-items: left;
  background-color: var(--lite-green);
  padding: 0 var(--spacing-lg);
}

#our-clients .right {
  height: 100%;
}

#our-clients .right header {
  padding: 0 var(--spacing-lg);
}

#our-clients .right header::after {
  content: "";
  display: block;
  height: 10px;
  width: 50%;
  background-color: var(--black);
  margin: var(--spacing-lg) 0;
}

#our-clients .right .rows {
  padding: 0 var(--spacing-lg);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
}

#our-clients .right .rows a {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
}

#our-clients .right .rows a:hover {
  border-color: var(--blue);
}

#our-clients .right .rows img {
  width: 120px;
  height: 120px;
  /* border: solid var(--border-color); */
}

/* STYLES END */

/* TRAININGS STYLES */

#trainings {
    background-image: linear-gradient(4deg,#00262b 11.47%,#1f453d 91.97%);
}

#trainings > header {
  padding: var(--spacing-lg);
  color: var(--white);
  text-align: center;
}

#trainings > header h1 {
  margin-top: 20px;
  font-size: var(--font-xl);
}

#trainings .rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

#trainings .rows > * {
  flex: 1;
}


#trainings .rows .tile {
  position: relative;
  height: 300px;
  border: solid rgb(250, 250, 250);
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

#trainings .rows .tile  img {
  width: 100%;
  height: 100%;
}

#trainings .rows .tile header {
  position: absolute;
  bottom: 0;
  z-index: 70;
  min-height: 150px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.822) 60%, rgba(22, 18, 18, 0.651) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-sm);
  font-size: var(--font-sm);
  color: var(--white);
}

#trainings > header p {
  color: var(--white);
  max-width: 70%;
  margin: 0 auto;
  margin-top: var(--spacing-md);
}

#trainings .cta {
  width: 100%;
  min-height: 450px;
  background-color: white;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--spacing-md);
  font-size: var(--font-md);
  background-image: url("../uploads/images/register.webp");
  background-repeat: no-repeat;
  background-position: cover;
  color: var(--white);
}

#trainings .cta h1 {
  font-size: 78px;
  line-height: .75;
}

#trainings .cta  button {
  margin-top: 23px;
}

/* STYLES END */

/* CONTACT STYLES */
#contact-us {
  display: flex;
  align-items: center;
  /* background-color: var(--black); */
}

#contact-us > * {
  flex: 1;
}

#contact-us .contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  font-size: var(--font-md);
  color: var(--black);
}

#contact-us .contacts a {
  font-size: var(--font-md);
}
/* STYLES END */

/* FOOTER STYLES */

#footer {
  background-color: var(--black);
  max-width: 100%;
  overflow: hidden;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  justify-content: space-between;
}

#footer .story img {
  width: 120px;
  border-radius: var(--round-sm);
  margin-bottom: var(--spacing-lg);
}

#footer .story {
  color: var(--white);
}

#footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

#footer .profiles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

#footer .profiles h3 {
  color: var(--white);
  border-bottom: 1px solid var(--border-color);
}


#footer .profiles img {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: var(--round-sm);
}

#footer .profiles a {
  display: flex;
  align-items: center;
}

#footer .copyright {
  padding: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  color: var(--white);
  border-top: 1px solid var(--border-color);
  margin-top: var(--spacing-lg);
}
/* styles ends */